<!--
  <mat-toolbar style="margin-top:5px;" color="primary">
  <mat-toolbar-row style="display:flex; justify-content: space-between;">
  -->
<div style="width: 100; padding: 5px;flex-wrap: wrap;margin-top:5px; display:flex; justify-content:space-between">
  <div (click)="filter()">
    <mat-form-field>
      <mat-label>Is answered</mat-label>
      <mat-select [(value)]="isAnswered">
        <mat-option (click)="filter()" value="none">
          All
        </mat-option>
        <mat-option (click)="filter()" value="isAnswered">
          Is answered
        </mat-option>
        <mat-option (click)="filter()" value="isNotAnswered">
          Is not answered
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox style="margin: 4px;" [(ngModel)]="onModeration" *ngIf="userInfo?.role == 'Admin' || userInfo?.role == 'Moderator'">On moderation</mat-checkbox>
    <mat-checkbox style="margin: 4px;" [(ngModel)]="myQuestions">Only my questions</mat-checkbox>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-select multiple [(ngModel)]="tagsSelected">
        <mat-option *ngFor="let tag of allTags" (click)="filter()" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 8px;">
      <mat-label>In a period</mat-label>
      <mat-select>
        <mat-option (click)="setPeriod(0)" value="none">
          None
        </mat-option>
        <mat-option (click)="setPeriod(1)" value="none">
          In a day
        </mat-option>
        <mat-option (click)="setPeriod(7)" value="none">
          In s week
        </mat-option>
        <mat-option (click)="setPeriod(30)" value="none">
          In a month
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-button-toggle-group style="margin-right: 8px;" multiple name="fontStyle" aria-label="Font Style">
      <mat-button-toggle (click)="sort()">Sort</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="setTiles()" value="tiles">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle (click)="setLines()" value="line">
            <mat-icon>view_stream</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
  </div>
</div>

<div [class.tiles]="setting" [class.lines]="!setting">
  <div *ngFor="let question of displayQuestions">
    <mat-card *ngIf="userInfo?.role == 'Admin' || userInfo?.role == 'Moderator' || question.approved">

      <mat-card-header>
        <mat-card-title>{{question.title}}</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <div class="description">
          <p align="justify">
            {{question.description}}
          </p>
        </div>
        <div class="questionBody">
          <div class="dateOfCreation">
              {{question.dateOfCreation  | date:"dd.MM.yyyy"}}
          </div>

          <div class="free"> </div>

          <div class="questionTags">
            <div *ngIf="question.tags[0] !== undefined">
              <a (click)="linkToTag(question.tags[0])" >{{question.tags[0]}}</a> <span *ngFor=" let tag of question.tags.slice(1)"> | <a (click)="linkToTag(tag);" >{{tag}}</a></span>
            </div> 
            <!-- {{formatTags(question.tags)}} -->
          </div>
        </div>
      </mat-card-content>
    
      <mat-card-footer>
        <button color="primary" routerLink="/quastion/{{question.id}}" mat-raised-button>Answer</button>
        <button color="primary" *ngIf="!question.approved && (userInfo?.role == 'Admin' || userInfo?.role == 'Moderator')" (click)="approveQuestion(question.id)" mat-raised-button>Approve</button>
        <button color="warn" *ngIf="userInfo?.role == 'Admin' || userInfo?.role == 'Moderator'" (click)="deleteQuestion(question.id)" mat-raised-button>Delete</button>      
      </mat-card-footer>

    </mat-card>
  </div>
</div>

<!-- circle-plus new question -->
<button [class.displaynone]="!setting" routerLink="/quastion" mat-fab class="plus">
  <mat-icon aria-label="addQuestion">add</mat-icon>
</button>

<!--<div mat-card-avatar style.background-image="url({{showUserPhotoURL(quastion.author)}})" class="card-avatar"></div>-->





