.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  margin: 0 auto;
  width: 90%;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
}

.formWindow {
  margin: 8px auto;
  max-width: 700px;
}

.formWindowHeader {
  display: flex;
  justify-content: center;
}
.formWindowHeader mat-card-title {
  font-size: 7vmin;
  padding: 0 3vmin;
}

hr {
  max-width: 100%;
  border-bottom: 1px solid black;
  line-height: 0.1em;
}

.checkboxes {
  margin: 10px;
}

.example-chip-list {
  width: 100%;
}